certifi==2022.12.7
cfgv==3.4.0
charset-normalizer==2.1.1
distlib==0.3.8
filelock==3.14.0
identify==2.5.36
idna==3.4
Jinja2==3.1.2
MarkupSafe==2.1.2
matplotlib
mpmath==1.2.1
networkx==3.0
nodeenv==1.8.0
numpy==1.24.2
pandas==1.5.3
Pillow==9.3.0
platformdirs==4.2.2
pre-commit==3.7.1
python-dateutil==2.8.2
pytz==2022.7.1
PyYAML==6.0.1
requests==2.28.1
scipy==1.10.1
six==1.16.0
sympy==1.11.1
tensorboard
torch==2.0.0
torchaudio==2.0.1
torchvision==0.15.1
typing_extensions==4.4.0
urllib3==1.26.13
virtualenv==20.26.2
torcheval
opencv-python==4.10.0.82